{% load staticfiles %}

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'res/3rd_party/bootstrap-3.1.1-dist/css/bootstrap.min.css' %}" />
{# <link rel="stylesheet" type="text/css" href="{% static 'res/3rd_party/ball/ball/css/bootstrap.css' %}" />  #}
<script src="{% static 'res/3rd_party/jquery/jquery-2.1.1.min.js' %}"></script>
{# <script src="{% static 'res/3rd_party/ball/ball/js/bootstrap.min.js' %}"></script> #}
<script src="{% static 'res/3rd_party/bootstrap-3.1.1-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'res/3rd_party/processing-js-1.4.8/processing.js' %}"></script>	

<style type="text/css">
	strong
	{
		color:red;
	}
    .table-hover > tbody > tr:hover > td
    {
        background-color: #eeeeee;
    }
</style>