<html>

<head>
	{% include 'res/head.html' %}
	{% load staticfiles %}
	<title>Резюме</title>	
</head>

<body>
{% include 'res/navbar.html' %}

<div class="container">
	<div class="col-md-offset-2">
	
		<a href="{% url 'questions' %}"><strong>questions</strong></a> 	
		<div class="row">
			<div class="col-md-4"><h3>Личные данные</h3></div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<img src={% static 'res/images/av2.png' %} style="margin:20 0"/>
			</div>
			
			<div class="col-md-8">
				<p>Рыжов Сергей Александрович</p>
				<p>1 марта 1991 года</p>
				<p>Окончил МИЭТ в 2014 году, факультет ЭКТ, магистратуру кафедры ПКИМС по направлению "Информатика и вычислительная техника". Средний балл в дипломах около 4.5</p>
				<p>Родился в Твери, проживаю в Зеленограде, не женат</p>
				<p>corbands@gmail.com, 8-926-647-2149</p>
				<a href="http://github.com/corbands">github.com/corbands</a>
			</div>
		</div>	

		<div class="row">
			<div class="col-md-6"><h3>Опыт работы</h3></div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<ul>
					<li>
						<a href="http://mobilesolutionsworldwide.com"><b>ООО "Мобильные решения"</b></a>
						<p><i>апрель 2013 &#8211 июль 2014</i></p>
						<p><i>Программист</i></p>
						<p>Работал над несколькими небольшими проектами:</p>
						<ul>
							<li>Разработка мобильного приложения для Windows Phone 8 на языке <b>C#</b></li>
							<li>Разработка браузерных плагинов с использованием фреймворка FireBreath (<b>С++</b>) под все популярные операционные системы (Windows, Linux, MacOSX)</li>						
							<li>Некоторые правки в проектах на <b>Java</b></li>
						</ul>
					</li>
					<br>
					<li>
						<a href="http://elvees.ru"><b>ЗАО "Элвис-Неотек"</b></a>
						<p><i>октябрь 2012 &#8211 апрель 2013</i></p>
						<p><i>Младший программист</i></p>
						<p>Работал в команде над серверной частью системы видеонаблюдения Orwell-2k. Писал код на языке <b>C++</b> под Windows, принимал участие в разработке функциональных модулей системы, утилит для работы над системой, unit-тестов. </p>					
						<p>Освоил: программирование в многопоточной среде, программирование с использованием интерфейсов, применение некоторых паттернов проектирования, svn, tfs, code review, scrum</p>
					</li>
					
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6"><h3>Другие проекты</h3></div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<ul>
				<li>На 3м курсе принял участие в разработке программы, моделирующей процесс осаждения атомов кремния на подложку, и занял 2-е место на конференции "Микроэлектроника и информатика 2011" в МИЭТе. Программа была разработана на языке <b>C++</b> с использованием графической библиотеки <b>OpenGL.</b></li>
				<li>На 4м курсе разрабатывал программу для конвертации файлов формата GDS в формат LEF (топология ИС). За основу была взята open-source программа визуализации GDS, написанная на языке <b>C++</b> с использованием фреймворка <b>Qt</b>. С этой программой защитил бакалаврский диплом.</li>
				<li><strong>mp3 cutter</strong></li>
				<li><strong>словарик</strong></li>
				</ul>
			</div>
		</div>

		
		<div class="row">
			<div class="col-md-6"><h3>Дополнительные сведения</h3></div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<p>С февраля 2014 по июнь 2014 работал в МИЭТе ассистентом преподавателя &#8211 вёл курс ТРПО (Технология разработки программного обеспечения). Читал лекции и принимал лабораторные работы (всего 6 лекций, 2 лабы).</p>
				<p>Были затронуты темы паттернов проектирования, принципов проектирования, некоторые рекомендации по написанию хорошего кода, работа с CVS, введение в язык Java.</p>
				<br>
				<p>За время обучения в институте были пройдены курсы по <b>assembler</b> для x86 процессоров, <b>ООП, БД, Unix,</b> введение в <b>Java</b></p>
				<p>В свободное время немного изучал php, html, processing</p>
				<p>Сейчас изучаю <b>python, django</b></p>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-6"><h3>Знания и навыки</h3></div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<p>Уверенные знания: <b>C++, STL, ООП</b></p>
				<p>Некоторые знания и опыт применения: <b>python, django, html, java, C#, bash, SQL, processing, Qt, OpenGL, boost</b></p>
				<p>Инструменты: <b>svn, git, Visual studio, Eclipse, Qt Creator, XCode, Sublime Text</b></p>
				<p>Разное: <b>scrum, code review</b></p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6"><h3>Профессиональные интересы</h3></div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<p>В последнее время сместился ацент интересов к разработке веб-приложений на python/django (или на других технологиях)</p>
			</div>
		</div>		

		<div class="row">
			<div class="col-md-6"><h3>Интересы и увлечения</h3></div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<p>Жонглирование, велопрогулки, книги</p>
			</div>
		</div>

	<div class="row">
		<div class="col-md-10">
			<hr>
		</div>
	</div>

	<script src="{% static 'res/js/qsort.js' %}"></script>

	<div class="row">
		<div class="col-md-1" style="margin: 20 0 0 10">		
			<button id="btn_plus" class="btn btn-default" onclick="on_plus()">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10" id="qsort_canvas" style="display:none">
				<div class="col-md-6 col-md-offset-4">
					<button id="btn_start" class="btn btn-default" onclick="on_start()">
						<span class="glyphicon glyphicon-play"></span>
					</button>
					<button class="btn btn-default" onclick="on_refresh()">
						<span class="glyphicon glyphicon-refresh"></span>
					</button>
				</div>
			<br>
				<div class="col-md-10">
					<canvas id="qsort" data-processing-sources="{% static 'res/sketches/qsort.pde' %} {% static 'res/sketches/qsort_routine.pde'%}"></canvas>
				</div>
		</div>
	</div>	 

	



	</div>
</div>

</body>

</html>