<html>

<head>
	{% include 'res/head.html' %}
	{% load staticfiles %}
	<title>Резюме</title>	
</head>

<body>
<nav class="navbar" role="navigation">
    <div class="container" style="background-color:#fff; border-radius:5px;">

        <ul class="nav navbar-nav navbar-right" style="margin-right:16%">
            <li><a href="{% url 'home' %}">Резюме</a></li>
        </ul>

    </div>
</nav>

<div class="container">
	<div class="col-md-offset-2 col-md-8">
		<p>Перейти на сайт: <a href="http://mp3-cutter.gingercode.me">mp3-cutter.gingercode.me</a></p>
		<p>Исходники: <a href="http://github.com/corbands/mp3c.git">github.com/corbands/mp3c.git</a></p>

		<hr>

		<p>Веб-сервис для разрезания mp3-файла на части
		<p>Стоит отметить, что алгоритм работы программы весьма сомнительный, но опыт показывает, что сервис работает</p>

	</div>
</div>

</body>
</html>